.argument {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.intro {
  display: block;
  margin-bottom: 60px;
}

.intro p {
  border-left: 1px solid black;
  padding-left: 5%;
}

.vertical-center {
  vertical-align: middle;
  display: inline-block;
  float: none;
  padding-top: 12vh;
}

@media screen and (max-width: 770px) {
  .vertical-center {
    padding-top: 3vh;
  }
}
