.landing {
  height: 80vh;
  width: 100%;
  display: block;
  text-align: center;
}

.landing-img {
  width: 100%;
  height: 100%;
  background-image: url(../../assets/img/blurred2.jpg);
  display: block;
}
.catch-phrase {
  padding-top: 40vh;
}

@media screen and (max-width: 500px) {
  .landing h1 {
    font-size: 30px;
  }
}
