.navbar-inner {
  background: transparent;
  padding: 10px;
  margin-left: 20vh;
}

.navbar-overlay {
  margin-bottom: -104px;
  z-index: 1;
}

.navbar-inner .nav-button {
  position: absolute;
  margin-right: 20vh;
  right: 0;
  background: transparent;
  border: 1px solid black;
  color: black;
  margin-top: 15px;
}

.navbar-inner .nav-button:hover {
  background: white;
  color: black;
  cursor: pointer;
}

.navbar-inner .logo {
  width: 80px;
  height: 60px;
}

.navbar-inner .navbar-brand {
  vertical-align: middle;
}

.brand-name {
  line-height: 55px;
}

.brand-name-wrapper {
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 700px){
  .navbar-inner {
    margin-left: 0;
  }

  .navbar-inner .nav-button {
    margin-right: 5vh;
  }
}

@media screen and (max-width: 450px) {
  .brand-name {
    display: none;
  }
}
