.second {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: block;
  text-align: center;
}

.second h1 {
  font-weight: normal;
  font-size: 28px;
  padding-bottom: 15px;
}

span {
  display: inline-block;
}

.second .email-input {
  width: auto;
  display: inline-block;
  border-radius: 0;
  margin-right: 5px;
}

.second .email-input:focus {
  border-color: rgba(0,0,0,.15);
}

.second .ok-button {
  background: transparent;
  border: 1px solid black;
}

.second .ok-button:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.error-email {
  border: 1px solid red;
}

@media screen and (max-width: 380px) {
  .second .email-input {
    margin-bottom: 20px;
  }
}
