<div class="howitworks" data-aos="fade">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="catch-phrase">How it works</h1>
      </div>
    </div>

    <div class="row hiw-one" data-aos="fade-left">
      <div class="col-md-6">
        <p class="hiw-text text-l">Do something</p>
      </div>
      <div class="col-md-6">
        <img src="../../assets/img/macbooktyping.png" class="hiw-img img-r">
      </div>
    </div>

    <div class="row hiw-two" data-aos="fade-right">
      <div class="col-md-6">
        <img src="../../assets/img/devices.png" class="hiw-img img-l img-devices">
      </div>
      <div class="col-md-6">
        <p class="hiw-text text-r text-second">???</p>
      </div>
    </div>

    <div class="row hiw-three" data-aos="fade-left">
      <div class="col-md-6">
        <p class="hiw-text text-l">Profit</p>

      </div>
      <div class="col-md-6">
        <img src="../../assets/img/happy.png" class="hiw-img img-r">
      </div>
    </div>
  </div>
</div>
